.tooltip{
    position: absolute;
    width: 120px;
    height: auto;
    font-family: simsun;
    font-size: 14px;
    text-align: center;
    color: white;
    border-width: 2px solid black;
    background-color: black;
    border-radius: 5px;
}

.tooltip:after{
    content: '';
    position: absolute;
    bottom: 100%;
    left: 20%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-bottom: 12px solid black;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
}

.axis text {
  font: 10px sans-serif;
  fill:black;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.outer-div{
	//background-color: #222;
	border-radius: 7px;
	border: 2px solid rgb(199, 199, 199);
}
.block-div {
	height: 100%;
	border-radius: 7px;
}
.kaiti {
    font-family: 楷体;
    font-size: 15px;
}

rect.bordered {
  stroke: #A1A1A1;
  stroke-width:1px;
}

text.mono {
  font-size: 9pt;
  font-family: Consolas, courier;
  fill: #000;
}

text.axis-workweek {
  fill: #000;
}

text.axis-worktime {
  fill: #000;
}

#left-div{
    float: left;
    position: absolute;
    width: 10%;
    height: 100%;
}
#menu-div{
    float: left;
    width: 100%;
    height: 100%;
    padding: 0px;
    background-color: #FFFACD;
}

#main-div{
    float: left;
	position: absolute;
	width: 100%;
	height: 100%;
}
#top-div{
	float: left;
	width: 100%;
	height: 20%;
  background-color: #FFFACD;
}
#middle-div{
  float: right;
  width: 100%;
  height: 40%;
  padding: 1%;
  background-color: #FFFACD;
}
#middle-left-div{
  float: left;
  width: 50%;
  height: 100%;
  padding: 1%;
}
#middle-right-div{
  float: left;
  width: 50%;
  height: 100%;
  padding: 1%;
}

#bottom-div{
  float: right;
  width: 100%;
  height: 40%;
  padding: 3%;
  background-color: #FFFACD;
}

.btn-div{
	margin: 5px;
	line-height: 26px
}

#view2_btn{
    float: right;
	height: 15px;
	margin: -3px 0 0;
}

#view3_btn{
    float: right;
    height: 15px;
    margin: -3px 0 0;
}

#view1_btn{
    float: right;
    height: 15px;
    margin: -3px 0 0;
}

#view5_btn{
    float: right;
    height: 15px;
    margin: -3px 0 0;
}

#view2{
	overflow:hidden;
	bottom:0px;
}

#view1{
    overflow:hidden;
    bottom:0px;
}

#view3{
    overflow:hidden;
    bottom:0px;
}

#view4{
    overflow:hidden;
    bottom:0px;
}

#view5{
    overflow: hidden;
    bottom: 0px;
}

#contentWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
}

#contentLeft {
  z-index: 10;
  width: 15%;
  height: 100%;
  position: absolute;
  background-color: #283c51;
}

#contentRight {
  position: absolute;
  width: 85%;
  height: 100%;
  background-color: rgb(199, 199, 199);
  margin-left: 15%;
}

#leftNavigation {
  margin: 2rem 0;
}
#leftNavigation, #leftNavigation li ul {
  list-style: none;
  padding: 0;
}
#leftNavigation li a {
  font-size: 0.875rem;
  display: block;
  padding: 0.8rem 1rem 0.8rem 3rem;
  color: #adadad;
  border-bottom: solid 1px #395673;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
#leftNavigation li a, #leftNavigation li a .leftNavIcon {
  line-height: 120%;
}
#leftNavigation li a .leftNavIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3rem;
  padding: 0.8rem 0;
  text-align: center;
}
#leftNavigation li a:hover {
  color: white;
}
#leftNavigation li ul {
  display: none;
  margin: 0;
  background-color: #17232f;
}
#leftNavigation li ul li a {
  border-bottom: solid 1px #233547;
}
#leftNavigation li ul li:last-child a {
  border-bottom: none;
}
#leftNavigation li ul li.active a {
  color: white;
}
#leftNavigation li.active > a {
  color: white;
}
#leftNavigation li.active ul {
  display: block;
}
#leftNavigation > li.active {
  background-color: #427c97;
}
